/* 
 * Application CSS 
 */

/*
 * Make the google map full screen and in the background
 */
#map {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	left: 0;
	top: 0;
}

/*
 * Absolute position and hover the search bar over all items.
 */
.search {
	position: absolute;
	background: #fff;
	margin: 20px;
	padding: 5px;
	z-index: 100;
	right: 0;
	top: 0;
	width:470px;
}

/*
 * Define a pane that is wider than our search box and lays
 * under it. Put some padding at the top of this box so that 
 * items within it don't wind up under the search box as 
 * things are moved around.
 */
.list {
	position: absolute;
	background: #fff;
	height: 100%;
	margin: 0px;
	padding: 75px 25px 5px 25px;
	z-index: 50;
	right: 0;
	top: 0;
	width:520px;
}
/*
 * Nested pane within our list div that adds a scroll bar.
 */
.list-contents {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	padding: 0 5px;
	margin: 0;
}
/*
 * Basic formatting of search results. The rest of the styling is handled by 
 * Bootstrap.
 */
.list-contents table {
	width: 100%;
}
.list-contents h3 {
	padding-top: 0;
	margin-top: 0;
}

.squish-map {
				width: -moz-calc(100% - 520px) !important;
				width: -webkit-calc(100% - 520px) !important;
				width: -o-calc(100% - 520px) !important;
				width: calc(100% - 520px) !important;
}
