body {
	overflow: hidden;
}

/*
 * Search Box
 */
.search-container {
	position: absolute;
	z-index: 10;
	/*right: 1em;
	left: 1em;
	top: 1em;*/
	right: 0;
	left: 0;
	top: 0;
}
.search-box-container > div:first-child {
	padding-right: 0.25em;
}
.search-box-container > div:last-child {
	padding-left: 0.25em;
}
.search-options {
	overflow-y: auto;
	/*
	 * TODO kendm: If you set the max-height
	 * instead of the height, then this whole
	 * thing looks better BUT you must then 
	 * also have the animations for 
	 * search options put their max-heights 
	 * into media queries.
	 *
	 * Do that eventually.
	 */
	height: 8em;
}
@media screen and (min-height: 34em) {
	.search-options {
		height: 20em;
	}
}

/*
 * Map
 */
.map {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

/*
 * Selection container
 */
.select-container {
	position: absolute;
	z-index: 10;
	bottom: 0;
	right: 0;
	left: 0;

	font-size: 1.25em;
	padding: 0.25em;

	min-height: 2.25em;

	/*font-size: 1.25em;
	color: #fff;*/
}
.select-container .pure-button {
	background: transparent;
	color: #fff;
}
.select-container a {
	text-decoration: none;
	color: #fff;
}
/*.select-container .padded-g {
	padding: 0.5em;
}
.select-container .pure-button {
	background: transparent;
	font-size: 1.25em;
	color: #fff;
}*/

.select-container a {
	/*text-decoration: underline;
	display: block;
	color: #fff;
	padding: 0;
	opacity: 1;
	margin: 0;*/
}

/*
 * General Rules
 */
.no-margin {
	margin: 0 !important;
}





/*
 * Main CSS Layout
 */
/*.sidebar {
	overflow-y: auto;
	position: fixed;
	width: 25%;
	bottom: 0;
	left: 0;
	top: 0;
}
.map-area {
	position: fixed;
	bottom: 0;
	left: 25%;
	top: 0;
}
.map, #map {
	display: block;
	height: 100%;
	width: 100%;
}*/

/*
 * Cards
 */
.padded-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sidebar > div {
	padding: 1em 1em;
}
/*.pure-form > div {
	padding: 0 0.25em;
}*/
.card {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;   
	margin-bottom: 2em;
}
.item {
	border-style: solid;
	border-color: #ddd;    
	position: relative;
	border-width: 1px;
	display: block;
	/*padding: 1em 0.5em;*/
}
a.item {
	text-decoration: none;
}
.item[ng-click]:hover {
	cursor: pointer;
}
.item:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.item:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.item-footer {
	font-size: 0.75em;
}

/*
 * Search box
 */
.search {
	background: rgb(245, 245, 245);
}
.search > .item:not(:last-child) {
	border-bottom: none;
}
.search > .item:not(:first-child) {
	border-top: none;
}
.search > .item-footer {
	background: rgb(235, 235, 235);
}
.search > .item {
	padding: 0.5em;
}
/*.search > .item:first-child {
	padding-top: 1em;
	padding-bottom: 1em;
}*/
.ngrs-range-slider .ngrs-join {
	background-color: rgb(0, 120, 231);
	background-image: none;
}

/*
 * Animations 
 */
.collapsible.ng-enter {
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	overflow: hidden;
	max-height: 0px;
}
.collapsible.ng-enter-active {
	max-height: 30em;
}
.collapsible.ng-leave {
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	max-height: 30em;
}
.collapsible.ng-leave-active {
	overflow: hidden;
	max-height: 0px;
}


/*
 * Scrollbars.
 *
 * TODO: Move to mobile media query.
 */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	display: block;
	height: 10px;
}
::-webkit-scrollbar-button:vertical:increment {
	background-color: #fff;
}
::-webkit-scrollbar-track-piece {
	background-color: #eee;
	-webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #ccc;
	-webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
	width: 50px;
	background-color: #ccc;
	-webkit-border-radius: 3px;
}
