#ui {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.icon-24 {
	font-size: 24px;
}

.menu-button {
	text-align: left;
}

/*.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.margin-small-all {
	margin: 0.5em;
}*/

.action-bar {
	position: absolute;
	z-index: 1;
	right: 0;
	left: 0;
	top: 0;
}	

/*
 * The search box
 */
.searchbox {
	background: #ffffff;
	padding: 0.5em;
	margin: 1em;
}
.searchbox input {
	height: 1.5em;
	width: 100%;
	border: 0;
}
.searchbox div:first-child {
	margin-right: 0.5em;
}
.searchbox div:last-child {
	margin-left: 0.5em;
}

.exit {
	background-image: -webkit-linear-gradient(bottom,transparent,rgba(0,0,0,0.7));
	padding: 1.5em;
	color: #fff;
}

/*
 * The left sidebar
 */
.sidenav-menu-entry {
	text-transform: none;
	text-align: left;
}

/* TODO kendm: Heights by media query */
#drawer {
	/* 
	 * This is the total height of the bottom drawer.
	 * It must equal the sum of the toolbar and the 
	 * outer content wrapper.
	 */
	max-height: 500px;
}
#drawer md-toolbar {
	/* Will probably always be 64? */
	height: 64px;
}
#drawer md-content {
	/* Set to whatever seems reasonable. */
	height: 436px;
}
#drawer md-content md-content {
	/* Equal to the height of the outer toolbar - 80,
	 * which is a magic number from the material lib.
	 * See MAX_OFFSET in drawer.js
	 */
	height: 356px;
}


/*
 * Special formatting and overrides for the 'drawer'
 * at the bottom of the screen that holds permit data.
 */
#drawer {
	padding: 0;
}
#drawer * .md-subheader {
	padding: 0 16px;
	margin: 0;
}
#drawer * .md-subheader:not(.md-sticky-no-effect):after {
	right: 0;
}
#drawer md-item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#drawer md-list {
	padding: 0;
}
#drawer b {
	color: rgba(0, 0, 0, 0.65);
}
