Django==1.6.5
Fiona==1.1.6
Pillow==2.7.0
Shapely==1.3.3
South==1.0
adblockparser==0.3
argparse==1.2.1
beautifulsoup4==4.3.2
django-geojson==2.6.0
djorm-ext-pgfulltext==0.10
extraction==0.2
fastkml==0.6
html5lib==0.999
lxml==3.4.2
numpy==1.8.1
psycopg2==2.5.3
pygeoif==0.4.1
pyproj==1.9.3
python-dateutil==2.2
requests==2.5.1
six==1.7.3
summary-extraction==0.2
w3lib==1.11.0
wsgiref==0.1.2
