<html>
	<head>
	    <style>
	      html, body {
		height: 100%;
		margin: 0px;
		padding: 0px
	      }
	      #map-canvas {
		height: 100%;
		margin: 0px;
		pading: 0px;
	      }
	    </style>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjF4Rue-wRz5uvVM8bG1NPTwqt3kVw9R0&sensor=TRUE"></script>
		<script>
			function init() {
				map = new google.maps.Map(document.getElementById('map-canvas'), { zoom: 12 });
				var southwestCoord = new google.maps.LatLng(35.639,-78.968);
  				var northeastCoord = new google.maps.LatLng(35.919,-78.698);
  				var bounds = new google.maps.LatLngBounds(southwestCoord,northeastCoord);

				// Add GEOJSON data
				map.data.loadGeoJson('{% url 'permit_map:geojson' %}');
				map.data.setStyle(function(feature) {
					var color = 'red';
					switch (feature.getProperty('category')) {
					case 'Site/Sub Plan':
						color = 'green';
						break;
					case 'Rezoning Case':
						color = 'blue';
						break;
					case 'Development':
						color = 'purple';
						break;
					}
					return {
						fillColor: color,
						strokeWeight: 1
					};
				});

				// Try HTML5 geolocation
				if(navigator.geolocation) {
				  navigator.geolocation.getCurrentPosition(function(position) {
				    var pos = new google.maps.LatLng(position.coords.latitude,
						       position.coords.longitude);

				    /*var myLocation = new google.maps.Marker({
						position: pos,
						map: map,
						title: 'Current Location'
				    });*/

				    map.setCenter(pos);
				  }, function() {
				    handleNoGeolocation(true);
				  });
				} else {
				    // Browser doesn't support Geolocation
				    handleNoGeolocation(false);
				}
			}
			function handleNoGeolocation(errorFlag) {
			  if (errorFlag) {
			    var content = 'Error: The Geolocation service failed.';
			  } else {
			    var content = 'Error: Your browser doesn\'t support geolocation.';
			  }

			  var options = {
			    map: map,
			    position: new google.maps.LatLng(60, 105),
			    content: content
			  };

			  var infowindow = new google.maps.InfoWindow(options);
			  map.setCenter(options.position);
			}
			google.maps.event.addDomListener(window, 'load', init);
		</script>
	</head>
	<body>
		<div id="map-canvas"></div>
	</body>
</html>
