<md-bottom-sheet style="max-height: 400px">
	<md-toolbar class="md-warn">
		<div class="md-toolbar-tools">
			<span class="md-flex">Toolbar: md-warn</span>
		</div>
	</md-toolbar>
	<md-content style="height: 600px;padding: 24px;">
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
		<p>OK</p>
	</md-content>
</md-bottom-sheet>
