<md-bottom-sheet id="drawer">
	<md-toolbar ng-style="{ 'background-color': (selected.category | cat_color) }">
		<h1 class="md-toolbar-tools">
			<span>{{ selected.data.name[0].value }}</span>
		</h1>
	</md-toolbar>
	<md-content>
		<md-content>
			<section>
				<md-list layout="column">
					<md-item layout="row">
						<md-item-content flex>
							<div class="md-tile-content">
								A <b>{{ selected.category | cat_text }}</b> in <b>{{ selected.township }}</b>.
								First observed on <b>{{ selected.first_seen | date : 'fullDate' }}</b> 
								and last seen on <b>{{ selected.last_seen | date : 'fullDate' }}</b>.
							</div>
						</md-item-content>
					</md-item>
					<md-item ng-repeat="item in selected.data.comment" layout="row" ng-if="selected.data.comment.length > 0">
						<md-item-content flex>
							<div class="md-tile-content">
								"{{ item.value }}" &mdash; {{ item.date | date : 'fullDate' }}.
							</div>
						</md-item-content>
					</md-item>
					<md-item layout="row" ng-if="selected.data.name.length > 1">
						<md-item-content flex>
							<div class="md-tile-content">
								Previously known as <span ng-repeat="item in selected.data.name | limitTo:(1 - selected.data.name.length)">
									<span ng-if="$middle">, </span>
									<span ng-if="$last && selected.data.name.length > 2"> and </span>
									<b>{{ item.value }}</b></span>.
							</div>
						</md-item-content>
					</md-item>
				</md-list>
			</section>
			<section>
				<h2 class="md-subheader md-accent">More Information</h2>
				<md-list layout="column">
					<md-item ng-repeat="item in selected.data.info_link">
						<!--div class="md-tile-left">
							<img ng-src="{{ item.image }}" ng-if="item.image"/>
						</div-->
						<a href="{{ item.link }}" class="md-tile-content" target="_new">
							<!--img ng-src="{{ item.image }}" ng-if="item.image"/-->
							<div>{{ (item.title) || "More Information ..." }}</div>
						</a>
					</md-item>
				</md-list>
			</section>
		</md-content>
	</md-content>
</md-bottom-sheet>
