<div class="pure-g search-container">
	<div class="pure-u-1">
		<map-search binding="model.filters"></map-search>
	</div>
</div>
<map-view class="map" binding="model"></map-view>
<!--div class="select-container" ng-if="true|media:'md':false" ng-style="{ background: colorOf(model.selected.category) }"-->
<div class="pure-g padded-g select-container" ng-style="{ background: model.colorOf(model.selected.category) }" ng-if="model.selected">
	<a href="#" class="pure-u-5-6">
		{{ model.selected.data.name[0].value }}
	</a>
	<button type="submit" class="no-margin pure-button pure-u-1-6" ng-if="model.list.permits.length > 1">
		<i class="fa fa-list"></i>
	</button>
</div>
